<div class='row'>
  <div class='col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4'>
    <p class="h2 text-center" class='text-center'>Welcome | Login</p>
    <hr />

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }, html: { id: 'login_form' }) do |f| %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  autocomplete: "email" %>
      <%= f.input :password,
                  required: false,
                  autocomplete: "current-password",
                  hint: "#{link_to('Forgot Password?', new_password_path(resource_name), class: 'float-end')}".html_safe %>
      <%= f.input :remember_me, as: :boolean %>

      <%= f.button :submit, "Sign In", class: 'btn btn-primary w-100', id: 'login_submit' %>
    <% end %>

    <hr />

    <%= button_to "Sign in with Spotify", user_spotify_omniauth_authorize_path,
          method: :post, data: { turbo: false }, class: "btn btn-spotify w-100" %><br />
  </div>
</div>
